<article id="about">
    <div class="first-section">
      <p class="heading">
        Orchestrate Testing.<br />
        Elevate Quality.
      </p>
      <p>
        Transform your testing into a centralized, scalable process with the
        quality OS by TestSuite.
      </p>
      <button type="button" name="" class="demo" id="testSuite">
        Try TestSuite
      </button>
      <button type="button" name="" class="demo" id="watchDemo">
        Watch a Demo
      </button>
    </div>

    <div class="second-section">
      <h2>Banner</h2>
    </div>

    <!-- <div class="third-section">
      <img src="../../../assets/images/third.png" width="100%"/>
    </div> -->
    <!-- <div class="fourth-section">4th</div> -->
  </article>