#about {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  
    justify-content: space-between;
  }
  
  /* #about > div {
      color: white;
      background-color: #234a6b;
      width: 80%;
    } */
  
  .first-section,
  .second-section {
    color: black;
    // background: url("../../../../assets/images/banner.jpeg") no-repeat center / cover;
    background-color: white;
    padding: 2rem 1.5rem 2rem 2rem;
    margin-top: 2rem;
  }
  
  #about .heading {
    font-size: 2.5rem;
    padding: none;
    margin: 0;
  }
  
  button.demo {
    border-radius: 20px;
    width: 40%;
    height: 2.5rem;
    font-weight: bold;
    outline: none; 
    margin: 0%;
    border: 1px solid #9261c6;
  }
  
  #testSuite {
    // margin-left: 2rem;
    background-color: #9261c6;
    color: black;
  }

  #testSuite:hover {
    background-color: transparent;
  }
  
  #watchDemo {
    margin-left: 2rem;
    background-color: transparent;
    color: black;
  }
  #watchDemo:hover {
    background-color: #9261c6;
  }
  
  .second-section {
    text-align: center;
  }
  
  .third-section,
  .fourth-section {
    grid-column: 1 / span 2;
  }