<div class="signin-main">
  <div class="signin-header">
    <h1>Login</h1>
    <p>
      Please enter your email address and password to sign into your TestSuite Portal. 
      You can use the Customer Portal to manage your TestSuite Cloud subscription and/or TestSuite 
      Server licenses, billing information, and account contacts.
    </p>
  </div>

  <form class="signin-form" [formGroup]="signinForm" (ngSubmit)="onSubmit()">
    <div class="signin-container">
      <div class="input-group">
        <label for="email">Email <span>*</span></label>
        <input id="email" formControlName="email" type="email">
      </div>
      <div class="input-group">
        <label for="password">Password <span>*</span></label>
        <input id="password" formControlName="password" type="password">
      </div>

      <div class="checkbox-group">
        <input type="checkbox" id="keepLoggedIn" formControlName="keepLoggedIn">
        <label for="keepLoggedIn">Keep me logged in on this computer</label>
      </div>

      <div class="button-group">
        <button type="submit" class="login-btn" [disabled]="signinForm.invalid">Login</button>
        <button type="button" class="forgot-password-btn" (click)="forgotPassword()">
          <mat-icon>lock</mat-icon> I forgot my password
        </button>
      </div>
    </div>
  </form>
</div>