.signin-main {
    padding: 2rem;
    background-color: #ffff; /* Light beige */
    border-radius: 8px;
    max-width: 600px;
    margin: auto;
  }
  
  .signin-header {
    text-align: left;
    color: #333;
    margin-bottom: 1rem;
  
    h1 {
      font-size: 24px;
      margin-bottom: 10px;
    }
  
    p {
      font-size: 14px;
      color: #555;
      line-height: 1.5;
    }
  }
  
  .signin-container {
    background-color: #d9d5e2; /* Light grey */
    padding: 1rem;
    border-radius: 8px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding-right: 20px;
  }
  
  label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  
    span {
      color: red;
    }
  }
  
  input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    background-color: white;
  }
  
  .checkbox-group {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #333;
    margin-bottom: 1rem;
  }
  
  .checkbox-group input {
    width: 16px;
    height: 16px;
    margin-top: 2px;
  }
  
  .button-group {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .login-btn {
    background-color: purple; /* Blue */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
  }
  
  .login-btn:disabled {
    background-color: #aaa;
    cursor: not-allowed;
  }
  
  .forgot-password-btn {
    background-color: #f2eded;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .forgot-password-btn mat-icon {
    font-size: 16px;
  }