<div class="register-main">
    <div class="register-header">
      <h1>LOGIN</h1>
      <p>Already a user please Login!</p>
    </div>
    <form class="example-form" [formGroup]="signinForm" (ngSubmit)="onSubmit()">
      <div class="register-body">
        <div class="reg-outer-body">
  
          <div>
            <label for="username">Username <span>*</span></label>
            <input id="username" formControlName="username">
            <div *ngIf="signinForm.get('username')?.invalid && signinForm.get('username')?.touched">
              <small *ngIf="signinForm.get('username')?.errors?.['required']">Username is required.</small>
              <!-- <small *ngIf="signinForm.get('username')?.errors?.['minlength']">Username must be at least 3 characters.</small> -->
            </div>
          </div>
          <div>
            <label for="password">Password <span>*</span></label>
            <input id="password" type="password" formControlName="password">
            <div *ngIf="signinForm.get('password')?.invalid && signinForm.get('password')?.touched">
              <small *ngIf="signinForm.get('password')?.errors?.['required']">Password is required.</small>
              <!-- <small *ngIf="signinForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters.</small> -->
            </div>
          </div>
          <a (click)="forgotPassword()">Forgot Password?</a>
          <div class="reg-outer-body">
            <button type="submit" [disabled]="signinForm.invalid">Login</button>
          </div>
        </div>
      </div>  
    </form>
  </div>
