<div class="body">
  <main>
    <header>
      <p class="heading">Milestone</p>
      <div class="menu">
        <select name="item" id="item">
          <option value="defects" selected>Defects</option>
        </select>
        <i class="fa-solid fa-table-list"></i>
        <i class="fa-solid fa-rectangle-list"></i>
        <i class="fa-solid fa-bars"></i>
      </div>
    </header>

    <article id="open">
      <div class="checkbox">
        <p class="heading">Open</p>
      </div>
      <div class="checkbox">
        <div>
          <input type="checkbox" name="all" id="all" />
          <label for="all">Select All</label>
        </div>
      </div>
      <div class="checkbox">
        <div>
          <input type="checkbox" name="open1" id="open1" />
          <i class="fa-solid fa-flag"></i>
          <div class="open" id="open1">
            <p class="heading"><a class="milestones__custom-link" routerLink="/pages/testrunAndResults">V2024.7</a></p>
            <p>
              Due on 7/26/2024 | <a href="">Edit</a> |
              <a href="">Add Milestone</a>
            </p>
            <p>
              has <b>0</b> active test plans and <b>1</b> active test run.
            </p>
          </div>
        </div>
        <div class="checkbox-right">
          <div class="progress-bar">
            <div class="progress"></div>
          </div>
          <p>90%</p>
          <i class="fa-solid fa-trash-can fa-xs" style="color: #ff0000"></i>
        </div>
      </div>
    </article>

    <article id="completed">
      <div class="checkbox">
        <p class="heading">Completed</p>
        <p class="pagination">
          <span class="pagination-prev" (click)="prevPage()">&lt;&lt; Prev</span>
          <span class="pagination-pages">
            <span class="pagination-page" *ngFor="let n of pages" [class.active]="page === n" (click)="toPage(n)">{{n}}</span>
          </span>
          <span class="pagination-next" (click)="nextPage()"> Next&gt;&gt;</span>
        </p>
      </div>
      <div class="checkbox">
        <div>
          <input type="checkbox" name="complete1" id="complete1" />
          <label for="complete1">July 2024</label>
        </div>
      </div>
      <div class="checkbox">
        <div>
          <input type="checkbox" name="complete2" id="complete2" />
          <label for="complete2">v2024.6</label>
        </div>
        <div class="checkbox-right">
          <p>7/23/2024</p>
          <i class="fa-solid fa-trash-can fa-xs" style="color: #ff0000"></i>
        </div>
      </div>
      <div class="checkbox">
        <div>
          <input type="checkbox" name="complete3" id="complete3" />
          <label for="complete3">June 2024</label>
        </div>
      </div>
      <div class="checkbox">
        <div>
          <input type="checkbox" name="complete4" id="complete4" />
          <label for="complete4">v2024.5</label>
        </div>
        <div class="checkbox-right">
          <p>6/25/2024</p>
          <i class="fa-solid fa-trash-can fa-xs" style="color: #ff0000"></i>
        </div>
      </div>
      <div class="checkbox">
        <div>
          <input type="checkbox" name="complete5" id="complete5" />
          <label for="complete5">May 2024</label>
        </div>
      </div>
      <div class="checkbox">
        <div>
          <input type="checkbox" name="complete6" id="complete6" />
          <label for="complete6">v2024.4</label>
        </div>
        <div class="checkbox-right">
          <p>5/27/2024</p>
          <i class="fa-solid fa-trash-can fa-xs" style="color: #ff0000"></i>
        </div>
      </div>
      <div class="checkbox">
        <div>
          <input type="checkbox" name="complete1" id="complete1" />
          <label for="complete1">July 2024</label>
        </div>
      </div>
      <div class="checkbox">
        <div>
          <input type="checkbox" name="complete2" id="complete2" />
          <label for="complete2">v2024.6</label>
        </div>
        <div class="checkbox-right">
          <p>7/23/2024</p>
          <i class="fa-solid fa-trash-can fa-xs" style="color: #ff0000"></i>
        </div>
      </div>
      <div class="checkbox">
        <div>
          <input type="checkbox" name="complete3" id="complete3" />
          <label for="complete3">June 2024</label>
        </div>
      </div>
      <div class="checkbox">
        <div>
          <input type="checkbox" name="complete4" id="complete4" />
          <label for="complete4">v2024.5</label>
        </div>
        <div class="checkbox-right">
          <p>6/25/2024</p>
          <i class="fa-solid fa-trash-can fa-xs" style="color: #ff0000"></i>
        </div>
      </div>
      <div class="checkbox">
        <div>
          <input type="checkbox" name="complete5" id="complete5" />
          <label for="complete5">May 2024</label>
        </div>
      </div>
    </article>
  </main>
  <aside>
    <button type="button" class="btn">+ Add Milestone</button>
    <p><b>1</b> open and <b>84</b> completed milestones in this project.</p>
  </aside>
</div>