<div class="body">
  <main>
    <header>
      <p class="heading">Milestones</p>
      <div class="menu">
      <div class="dropdown-with-icon">
        <select>
          <option value="defects">Defects</option>
          <option value="issues">Issues</option>
          <option value="bugs">Bugs</option>
        </select>
        </div>
       
      </div>
    </header>
    <section>

    <article id="open">
    
     <p class="section-title">Open</p> <div class="underline"></div>
    
      <app-status-card *ngFor=" let i of [1,2,3,4]"
        [cardData]="{
          tag: 'MileStone',
          iconPath: 'assets/icons/Flag.png',
          details: {
            title: 'V2024.7',
            dueDate: '7/26/2024',
            activeTestPlan: 0,
            activeTestRun: 1,
            completion: 78
          },
          links: [{ label: 'Edit', url: '/edit' }, { label: 'Add Milestone', url: '/add-milestone' }]
        }"
      ></app-status-card>

    </article>

    <article id="completed">
      
        <p class="section-title">Completed</p> <div class="underline"></div>
       
      <div class="checkbox">
        <div>
          <input type="checkbox" name="complete1" id="complete1" />
          <label for="complete1">July 2024</label>
        </div>
      </div>
      <div class="checkbox">
        <div>
          <input type="checkbox" name="complete2" id="complete2" />
          <label for="complete2">v2024.6</label>
        </div>
        <div class="checkbox-right">
          <p>7/23/2024</p>
          <i class="fa-solid fa-trash-can fa-xs" style="color: #ff0000"></i>
        </div>
      </div>
      <div class="checkbox">
        <div>
          <input type="checkbox" name="complete3" id="complete3" />
          <label for="complete3">June 2024</label>
        </div>
      </div>
      <div class="checkbox">
        <div>
          <input type="checkbox" name="complete4" id="complete4" />
          <label for="complete4">v2024.5</label>
        </div>
        <div class="checkbox-right">
          <p>6/25/2024</p>
          <i class="fa-solid fa-trash-can fa-xs" style="color: #ff0000"></i>
        </div>
      </div>
      <div class="checkbox">
        <div>
          <input type="checkbox" name="complete5" id="complete5" />
          <label for="complete5">May 2024</label>
        </div>
      </div>
      <div class="checkbox">
        <div>
          <input type="checkbox" name="complete6" id="complete6" />
          <label for="complete6">v2024.4</label>
        </div>
        <div class="checkbox-right">
          <p>5/27/2024</p>
          <i class="fa-solid fa-trash-can fa-xs" style="color: #ff0000"></i>
        </div>
      </div>
      <div class="checkbox">
        <div>
          <input type="checkbox" name="complete1" id="complete1" />
          <label for="complete1">July 2024</label>
        </div>
      </div>
      <div class="checkbox">
        <div>
          <input type="checkbox" name="complete2" id="complete2" />
          <label for="complete2">v2024.6</label>
        </div>
        <div class="checkbox-right">
          <p>7/23/2024</p>
          <i class="fa-solid fa-trash-can fa-xs" style="color: #ff0000"></i>
        </div>
      </div>
      <div class="checkbox">
        <div>
          <input type="checkbox" name="complete3" id="complete3" />
          <label for="complete3">June 2024</label>
        </div>
      </div>
      <div class="checkbox">
        <div>
          <input type="checkbox" name="complete4" id="complete4" />
          <label for="complete4">v2024.5</label>
        </div>
        <div class="checkbox-right">
          <p>6/25/2024</p>
          <i class="fa-solid fa-trash-can fa-xs" style="color: #ff0000"></i>
        </div>
      </div>
      <div class="checkbox">
        <div>
          <input type="checkbox" name="complete5" id="complete5" />
          <label for="complete5">May 2024</label>
        </div>
      </div>
    </article>
  </section>
  </main>
  <aside>
    <button type="button" class="btn">+ Add Milestone</button>
    <p><b>1</b> open and <b>84</b> completed milestones in this project.</p>
  </aside>
</div>