<footer>
    <div class="footMenu">
      <p class="heading">Resources</p>
      <p>Support</p>
      <p>Documentation</p>
      <p>Release Notes</p>
      <p>Customer Stories</p>
      <p>TestRail ROI Calculator</p>
      <p>Academy</p>
      <p>Customer Portal</p>
      <p>Security</p>
      <p>Compliance</p>
    </div>
    <div class="footMenu">
      <p class="heading">Company</p>
      <p>About</p>
      <p>Jobs</p>
      <p>Partners</p>
      <p>Contact</p>
      <p>Legal</p>
      <p>Privacy Policy</p>
    </div>
    <div class="footMenu">
      <p class="heading">Featured Success Story</p>
      <p>Jira Test Management</p>
      <p>Traceablity & coverage</p>
      <p>Metrics & reporting</p>
      <p>Test Automation</p>
      <p>Agile testing</p>
      <p>See all ></p>
    </div>
    <div class="footMenu">
      <p class="heading">Sign up for our newsletter</p>
      <button type="button">Sign me up</button>
      <div class="footNav">
        <a href="www.fb.com" target="_blank">
          <i class="fa-brands fa-facebook fa-2xl"></i>
        </a>
        <a href="www.x.com" target="_blank">
          <i class="fa-brands fa-twitter fa-2xl"></i>
        </a>
        <a href="www.linkedin.com" target="_blank">
          <i class="fa-brands fa-linkedin fa-2xl"></i>
        </a>
        <a href="mailto:someone@example.com" target="_blank">
          <i class="fa-solid fa-envelope fa-2xl"></i>
        </a>
      </div>
    </div>
  </footer>