<footer>
  <div class="footMenu">
    <p class="heading">Resources</p>
    <ul>
      <li>Support</li>
      <li>Documentation</li>
      <li>Release Notes</li>
      <li>Customer Stories</li>
      <li>TestRail ROI Calculator</li>
      <li>Academy</li>
      <li>Customer Portal</li>
      <li>Security</li>
      <li>Compliance</li>
    </ul>
  </div>
  <div class="footMenu">
    <p class="heading">Company</p>
    <ul>
      <li>About</li>
      <li>Jobs</li>
      <li>Partners</li>
      <li>Contact</li>
      <li>Legal</li>
      <li>Privacy Policy</li>
    </ul>
  </div>
  <div class="footMenu">
    <p class="heading">Featured Success Story</p>
    <ul>
      <li>Jira Test Management</li>
      <li>Traceability & coverage</li>
      <li>Metrics & reporting</li>
      <li>Test Automation</li>
      <li>Agile testing</li>
      <li>See all ></li>
    </ul>
  </div>
  <div class="footMenu">
    <p class="heading">Sign up for our newsletter</p>
    <button type="button">Sign me up</button>
    <div class="footNav">
      <!-- Facebook -->
      <a href="#" target="_blank" aria-label="Facebook">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path
            d="M22.675 0H1.325C.593 0 0 .593 0 1.325v21.351C0 23.407.593 24 1.325 24h11.49v-9.294H9.691v-3.622h3.124V8.413c0-3.1 1.893-4.788 4.657-4.788 1.325 0 2.463.099 2.796.143v3.24h-1.918c-1.504 0-1.795.714-1.795 1.763v2.31h3.587l-.467 3.622h-3.12V24h6.116C23.407 24 24 23.407 24 22.675V1.325C24 .593 23.407 0 22.675 0z"
            fill="black"
          />
        </svg>
      </a>
      <!-- Twitter -->
      <a href="#" target="_blank" aria-label="Twitter">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path
            d="M23.954 4.569c-.885.39-1.83.654-2.825.775 1.014-.611 1.794-1.574 2.163-2.723-.949.564-2.005.974-3.127 1.195-.896-.959-2.173-1.559-3.594-1.559-2.719 0-4.924 2.206-4.924 4.917 0 .39.045.765.127 1.124-4.09-.205-7.719-2.165-10.148-5.144-.423.722-.666 1.561-.666 2.475 0 1.708.87 3.214 2.188 4.096-.807-.026-1.566-.248-2.228-.616v.061c0 2.385 1.693 4.374 3.946 4.827-.413.111-.849.171-1.296.171-.314 0-.622-.03-.923-.086.631 1.953 2.445 3.376 4.6 3.415-1.68 1.319-3.809 2.104-6.102 2.104-.395 0-.779-.023-1.17-.067 2.189 1.402 4.768 2.222 7.548 2.222 9.057 0 14.01-7.496 14.01-13.986 0-.21 0-.42-.015-.63.961-.689 1.8-1.56 2.46-2.548l-.047-.02z"
            fill="black"
          />
        </svg>
      </a>
      <!-- Instagram -->
      <a href="#" target="_blank" aria-label="Mail">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path
            d="M20 4H4C2.9 4 2 4.9 2 6v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 2-8 5-8-5h16zm0 12H4V8l8 5 8-5v10z"
            fill="black"
          />
        </svg>
      </a>
      <!-- LinkedIn -->
      <a href="#" target="_blank" aria-label="LinkedIn">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path
            d="M19 0h-14C2.2 0 0 2.2 0 5v14c0 2.8 2.2 5 5 5h14c2.8 0 5-2.2 5-5V5c0-2.8-2.2-5-5-5zm-11.5 19H5V9h2.5v10zM6.25 7.75C5.01 7.75 4 6.74 4 5.5S5.01 3.25 6.25 3.25s2.25 1.01 2.25 2.25S7.49 7.75 6.25 7.75zm12.25 11.25h-2.5v-5c0-1.1-.9-2-2-2s-2 .9-2 2v5H9v-10h2.5v1.41c.7-.77 1.83-1.41 3-1.41 2.2 0 4 1.8 4 4v6z"
            fill="black"
          />
        </svg>
      </a>
    </div>
  </div>
</footer>