<footer>
  <div class="footMenu">
    <p class="heading">Resources</p>
    <ul>
      <li>Support</li>
      <li>Documentation</li>
      <li>Release Notes</li>
      <li>Customer Stories</li>
      <li>TestRail ROI Calculator</li>
      <li>Academy</li>
      <li>Customer Portal</li>
      <li>Security</li>
      <li>Compliance</li>
    </ul>
  </div>
  <div class="footMenu">
    <p class="heading">Company</p>
    <ul>
      <li>About</li>
      <li>Jobs</li>
      <li>Partners</li>
      <li>Contact</li>
      <li>Legal</li>
      <li>Privacy Policy</li>
    </ul>
  </div>
  <div class="footMenu">
    <p class="heading">Featured Success Story</p>
    <ul>
      <li>Jira Test Management</li>
      <li>Traceability & coverage</li>
      <li>Metrics & reporting</li>
      <li>Test Automation</li>
      <li>Agile testing</li>
      <li>See all ></li>
    </ul>
  </div>
  <div class="footMenu">
    <p class="heading">Sign up for our newsletter</p>
    <button type="button">Sign me up</button>
    <div class="footNav">
      <a href="www.fb.com" target="_blank">
        <i class="fa-brands fa-facebook fa-2xl"></i>
      </a>
      <a href="www.x.com" target="_blank">
        <i class="fa-brands fa-twitter fa-2xl"></i>
      </a>
      <a href="www.linkedin.com" target="_blank">
        <i class="fa-brands fa-linkedin fa-2xl"></i>
      </a>
      <a href="mailto:someone@example.com" target="_blank">
        <i class="fa-solid fa-envelope fa-2xl"></i>
      </a>
    </div>
  </div>
</footer>