.pricing-main {
    margin-bottom: 4rem;
  
    .pricing-header {
      display: flex;
      flex-direction: column; /* Stack elements vertically */
      align-items: center; /* Center-align content */
      text-align: left;
      margin-bottom: 2rem;
      
  
      div {
        margin-bottom: 1rem; /* Add spacing between sections */
        
      }
  
      label {
        font-size: 1rem;
        font-weight: bold;
        margin-right: 0.5rem;
      }
  
      input[type='number'] {
        width: 60px; /* Increase width for better visibility */
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 0.25rem;
      }
  
      .title-two {
        display: flex;
        align-items: center;
        justify-content: center; /* Center elements */
        flex-wrap: wrap; /* Allow wrapping on smaller screens */
        gap: 1rem;
  
        p {
            font-size: 1rem;
            font-weight: bold;
            margin-right: 0.5rem;
        }
  
        .note {
          font-size: 0.9rem;
          font-style: italic;
          color: #555;
        }
  
        input[type='radio'] {
          margin-right: 0.25rem;
        }
      }
    }
  
    .pricing-body {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      justify-items: center;
  
      @media (max-width: 768px) {
        grid-template-columns: 1fr;
      }
    }
  
    @media (max-width: 768px) {
      .pricing-header {
        align-items: center;
        text-align: center;
  
        .title-two {
          flex-direction: column;
          align-items: center;
        }
      }
    }
  
    @media (max-width: 480px) {
      .pricing-header {
        input[type='number'] {
          width: 50px; /* Adjust input size for small screens */
        }
  
        .title-two {
          .note {
            font-size: 0.8rem;
          }
        }
      }
    }
  }