.pricing-main {
    margin-bottom: 4rem;
    .pricing-header {
      align-items: left;
      justify-items: left;
      text-align: left;
      margin-bottom: 2rem;
      margin-left: 25%;
  
      label {
        margin-right: 1rem;
      }
  
      input[type='number'] {
        width: 50px;
        text-align: center;
      }
  
      .title-two {
        display: flex;
        align-items: center; /* Vertically align items */
        justify-content: flex-start; /* Align items to the left */
        flex-wrap: nowrap; /* Ensure everything stays in one line */
        gap: 1rem; /* Add spacing between items */
      
        p {
          margin: 0; /* Remove default paragraph margins */
        }
      
        .note {
          font-size: 0.9rem;
          font-style: italic;
          color: #555;
          white-space: nowrap; /* Prevent the note from breaking into a new line */
        }
      
        input[type='radio'] {
          margin-right: 0.5rem; /* Add spacing between radio button and label */
        }
      }
    }
  
    .pricing-body {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      justify-items: center;
    }
  }