// .header {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     padding: 1rem;
//     background-color: #3f51b5;
//     color: white;
//   }

//   .menu-toggle-btn {
//     font-size: 1.5rem;
//     background: none;
//     border: none;
//     color: white;
//     cursor: pointer;
//     outline: none;
//   }

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  // position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #2b3d51;
  height: 3.3rem;
}

.menu-button {
  background: transparent;
  color: white;
  border: none;
}

.company-name {
  margin-left: 10px;
  background: transparent;
  color: white;
  font-size: large;
  border: none;

  option {
    background-color: #2b3d51;
  }
}

.profile-item {
  padding: 2px 6px;
  border-radius: 100%;
  background: #36506e;
}

.search-bar-wrap {
  position: relative;
}

.search-bar {
  padding: 8px 30px 8px 8px;
  border-radius: 20px;
  border: none;
  background: #36506e;
  color: white;
  font-size: medium;

  &-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  &::placeholder {
    color: #fff;
  }
}

.search-bar:focus {
  border: none;
}

.search-bar:active {
  border: none;
}