.register-main {
    padding: 1rem;
}

.register-header {
    text-align: center;
    color: purple;

    h1,
    p {
        margin-top: 0;
        margin-bottom: 10px;
    }
}

.register-body {
    width: 80%;
}

.reg-outer-body {
    width: 100%;

    a {
        float: right;
        color: blue;
        margin-top: 1rem;
        cursor: pointer;
        font-size: 15px;
    }

    a:hover {
        text-decoration: underline;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 2px;
    margin-top: 1rem;
    color: purple;
    font-weight: 500;

    span {
        color: red;
    }
}

input {
    // width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 97%;
}

small {
    color: red;
}

button {
    padding: 10px;
    border-radius: 10rem;
    background: purple;
    color: white;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 25%;
}

button:disabled {
    background-color: #aaa;
}