// .sidemenu {
//     position: fixed;
//     top: 0;
//     left: -250px;
//     width: 250px;
//     height: 100%;
//     background-color: #333;
//     color: white;
//     transition: left 0.3s ease;
//     padding-top: 60px; /* to avoid header overlap */
//   }

//   .sidemenu.active {
//     left: 0;
//   }

//   .sidemenu ul {
//     list-style-type: none;
//     padding: 0;
//   }

//   .sidemenu ul li {
//     padding: 15px 20px;
//   }

//   .sidemenu ul li a {
//     color: white;
//     text-decoration: none;
//     display: block;
//   }

//   .sidemenu ul li a:hover {
//     background-color: #575757;
//   }


// ----------------------------------------------------------

// .sidenav-container {
//     height: 100%;
//   }

//   .sidenav {
//     width: 250px;
//   }

//   .sidenav-content {
//     padding: 20px;
//   }

//   mat-menu {
//     .mat-menu-item {
//       padding: 10px 20px;
//     }
//   }

// ---------------------------------------------------------



.sidenav-container {
  height: calc(100%);
  /* 64px is the height of the header */
  // margin-top: 64px;
}

.sidenav {
  width: 200px;
  background: white;

  // margin-top: 64px; /* Ensure the side menu doesn't overlap the header */
  h2 {
    color: blue;
    font-weight: 400;
    text-align: center;
    font-size: 1.5rem;
  }

  p {
    margin-top: 3rem;
    padding-left: 1rem;
    font-size: 15px;
    font-weight: 500;
    color: grey;
    margin-bottom: 0rem;
  }
}

.dashboard-title {
  margin-bottom: 10px;
}

.test-cases-title {
  margin-bottom: 10px;
}

.main-title {
  height: 40px !important;

  ::ng-deep {

    .mdc-list-item__primary-text {
      display: flex;
      align-items: center;
      gap: 5px;
    }

  }

  a {
    text-decoration: none;
    color: inherit;
  }

  &.active {
    background: rgba(149, 190, 226, 0.1);
    
    a {
      color: rgba(90, 178, 255, 1);
    }
  }
}

.mat-mdc-nav-list .mat-mdc-list-item,
.mat-expansion-panel {
  border-radius: 0 !important;

  mat-panel-title {
    text-decoration: none;
    color: inherit;
  }
}

.mat-list-sub-list {
  height: 48px;
}

.mat-mdc-list-item {
  height: 48px;
}

.mdc-list {
  padding: 0;
}

::ng-deep {
  .mat-expansion-panel-body {
    padding: 0 !important;
  }
}

// .mat-list-sub-list {
//   height: 30px !important;
// }

mat-expansion-panel {
  margin: 0;
  padding: 0;
  box-shadow: none !important;
  background: transparent;
}

mat-expansion-panel-header {
  padding: 0 16px;
}

mat-panel-title {
  color: #551a8b;
  font-weight: 400;
  text-decoration: underline;
}

.sidenav-content {
  // padding: 16px;
  overflow-x: hidden;
}