// .register-main {
//   padding: 0 1rem 1rem 1rem;
// }

// .register-header {
//   text-align: center;
//   color: purple;
//   h1 {
//     font-size: x-large;
//     margin-bottom: 0.5rem;
//   }
//   p {
//     margin-top: 0;
//     margin-bottom: 5px;
//     font-size: small;
//   }
// }

// .register-body {
//   display: grid;
//   width: 95%;
//   grid-template-columns: 1fr 1fr;
//   gap: 1rem;
//   // border: solid 1px black;

//   justify-content: space-between;
// }

// .reg-outer-body {
//   width: 95%;

//   select {
//     width: 100%;
//   }

//   input {
//     width: 98%;
//   }

//   .note-line {
//     margin-top: 0.5rem;
//     margin-bottom: 0.5rem;
//     color: purple;
//     font-size: small;

//     span {
//       color: blue;
//     }
//   }
// }

// form {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// label {
//   display: block;
//   margin-bottom: 2px;
//   margin-top: 0.5rem;
//   color: purple;
//   font-weight: 500;
//   font-size: small;

//   span {
//     color: red;
//   }
// }

// input {
//   // width: 100%;
//   padding: 0.5rem;
//   border: 1px solid #ccc;
//   border-radius: 3px;
//   width: 97%;
// }

// select {
//   // width: 100%;
//   padding: 0.5rem;
//   border: 1px solid #ccc;
//   border-radius: 3px;
//   width: 100%;
// }

// small {
//   color: red;
// }

// .checkboxes {
//   display: flex;

//   input {
//     width: fit-content;
//   }

//   label {
//     margin-top: 9px;
//     font-weight: 400;
//   }

//   span {
//     color: blue;
//   }
// }


// button {
//   padding: 10px;
//   border-radius: 10rem;
//   background: purple;
//   color: white;
//   margin-top: 1rem;
// }

// //   }

//   button:disabled {
//     background-color: #aaa;
//   }

// // form {
// //     max-width: 400px;
// //     margin: 0 auto;
// //     padding: 1rem;
// //     border: 1px solid #ccc;
// //     border-radius: 5px;
// //   }

// //   div {
// //     margin-bottom: 1rem;
// //   }

// -----------------------------------------------------------------------------------------//

.register-main {
  padding: 1rem;
}

.register-header {
  text-align: center;
  color: purple;

  h1,
  p {
      margin-top: 0;
      margin-bottom: 10px;
  }
}

.register-body {
  width: 80%;
}

.reg-outer-body {
  width: 100%;

  a {
      float: right;
      color: blue;
      margin-top: 1rem;
      cursor: pointer;
      font-size: 15px;
  }

  a:hover {
      text-decoration: underline;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 2px;
  margin-top: 1rem;
  color: purple;
  font-weight: 500;

  span {
      color: red;
  }
}

input {
  // width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 97%;
}

small {
  color: red;
}

button {
  padding: 10px;
  border-radius: 10rem;
  background: purple;
  color: white;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 25%;
}

button:disabled {
  background-color: #aaa;
}